In [1]:
import pandas as pd

In [2]:
contractdata_df = pd.read_csv("ContractsData.csv")

In [8]:
contractdata_df.head()

,Contract_ID,Application_ID,Key,Loan_Type,Contract_Start_Date,Expected_Contract_End_Date,Actual_Contract_End_Date,Loan_Term,Total_Loan_Amount
0,CONT100001,C302103426,1,Unsecured Personal Loan,2018-04-12,2023-04-12,NaN,60 - Month(s),24529.89
1,CONT100002,C302103426,2,Unsecured Personal Loan,2018-04-12,2023-04-12,NaN,60 - Month(s),35085.79
2,CONT100003,C302107460,1,Unsecured Personal Loan,202-1-08-31,2024-09-01,NaN,60 - Month(s),53564.88
3,CONT100004,C302107453,1,Unsecured Personal Loan,202-1-08-28,2023-08-28,NaN,48 - Month(s),29073.86
4,CONT100005,C302107447,1,Unsecured Personal Loan,202-1-08-27,2023-08-27,NaN,48 - Month(s),11723.33

In [10]:
contractdata_df.shape

(9374, 9)

In [12]:
contractdata_df.value_counts().sum()

1279

In [3]:
contractdata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9374 entries, 0 to 9373
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Contract_ID                 9374 non-null   object
 1   Application_ID              7598 non-null   object
 2   Key                         9374 non-null   int64
 3   Loan_Type                   9374 non-null   object
 4   Contract_Start_Date         9374 non-null   object
 5   Expected_Contract_End_Date  9374 non-null   object
 6   Actual_Contract_End_Date    2593 non-null   object
 7   Loan_Term                   9374 non-null   object
 8   Total_Loan_Amount           9374 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 659.2+ KB

In [4]:
contractdata_df.describe()

               Key  Total_Loan_Amount
count  9374.000000        9374.000000
mean      1.302752       24271.437439
std       0.635954       23807.037921
min       1.000000           0.000000
25%       1.000000        8620.267500
50%       1.000000       15115.240000
75%       1.000000       30893.970000
max       4.000000      239137.160000

In [5]:
contractdata_df.isnull().sum() / len(contractdata_df) * 100

Contract_ID                    0.000000
Application_ID                18.946021
Key                            0.000000
Loan_Type                      0.000000
Contract_Start_Date            0.000000
Expected_Contract_End_Date     0.000000
Actual_Contract_End_Date      72.338383
Loan_Term                      0.000000
Total_Loan_Amount              0.000000
dtype: float64

In [7]:
contractdata_df.duplicated().sum()

0

In [14]:
# Optionally filter out contracts with no application link
contracts_linked = contractdata_df[contractdata_df['Application_ID'].notna()]
contracts_linked

,Contract_ID,Application_ID,Key,Loan_Type,Contract_Start_Date,Expected_Contract_End_Date,Actual_Contract_End_Date,Loan_Term,Total_Loan_Amount
0,CONT100001,C302103426,1,Unsecured Personal Loan,2018-04-12,2023-04-12,NaN,60 - Month(s),24529.89
1,CONT100002,C302103426,2,Unsecured Personal Loan,2018-04-12,2023-04-12,NaN,60 - Month(s),35085.79
2,CONT100003,C302107460,1,Unsecured Personal Loan,202-1-08-31,2024-09-01,NaN,60 - Month(s),53564.88
3,CONT100004,C302107453,1,Unsecured Personal Loan,202-1-08-28,2023-08-28,NaN,48 - Month(s),29073.86
4,CONT100005,C302107447,1,Unsecured Personal Loan,202-1-08-27,2023-08-27,NaN,48 - Month(s),11723.33
...,...,...,...,...,...,...,...,...,...
7593,CONT107594,C302101656,1,Unsecured Personal Loan,2017-09-10,2022-09-11,NaN,60 - Month(s),25139.51
7594,CONT107595,C302106243,1,Unsecured Personal Loan,2018-12-04,2022-12-04,NaN,48 - Month(s),17363.45
7595,CONT107596,C302102139,1,Unsecured Personal Loan,2017-10-18,2022-10-18,NaN,60 - Month(s),29308.32
7596,CONT107597,C302107173,1,Unsecured Personal Loan,202-1-07-07,2024-07-07,NaN,60 - Month(s),70339.98
7597,CONT107598,C302106712,1,Unsecured Personal Loan,202-1-02-13,2023-02-13,NaN,48 - Month(s),12402.46

In [15]:
# Quick inspection
contractdata_df['Key'].value_counts()

Key
1    7441
2    1029
3     903
4       1
Name: count, dtype: int64

# Convert all date columns to datetime

In [16]:
# Fix common issue by forcing datetime conversion
date_columns = ['Contract_Start_Date', 'Expected_Contract_End_Date', 'Actual_Contract_End_Date']

for col in date_columns:
    contracts_linked[col] = pd.to_datetime(contracts_linked[col], errors='coerce')

# Check how many invalid dates remain
print(contracts_linked[date_columns].isna().sum())

Contract_Start_Date           1051
Expected_Contract_End_Date     424
Actual_Contract_End_Date      6781
dtype: int64

/tmp/ipykernel_18862/1113610892.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contracts_linked[col] = pd.to_datetime(contracts_linked[col], errors='coerce')
/tmp/ipykernel_18862/1113610892.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contracts_linked[col] = pd.to_datetime(contracts_linked[col], errors='coerce')
/tmp/ipykernel_18862/1113610892.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  contracts_linked[col] = pd.to_datetime(contracts_linked[col], errors='coerce')
/tmp/ipykernel_18862/1113610892.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contracts_linked[col] = pd.to_datetime(contracts_linked[col], errors='coerce')

# Clean and Extract Loan_Term as Integer

In [17]:
# Extract numeric part of loan term
contracts_linked['Loan_Term'] = contracts_linked['Loan_Term'].str.extract(r'(\d+)').astype(float)

/tmp/ipykernel_18862/370028962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contracts_linked['Loan_Term'] = contracts_linked['Loan_Term'].str.extract(r'(\d+)').astype(float)

# Handle Missing or Zero Total_Loan_Amount

In [18]:
zero_loans = contracts_linked[contracts_linked['Total_Loan_Amount'] == 0]
print(f"Contracts with zero loan amount: {len(zero_loans)}")

Contracts with zero loan amount: 14

In [19]:
contracts_linked = contracts_linked[contracts_linked['Total_Loan_Amount'] > 0]

In [21]:
contracts_linked.to_csv('clean_contracts_data.csv', index=False)