In [1]:
import pandas as pd

In [2]:
crb_df = pd.read_csv("CRB Data.csv")

In [3]:
crb_df.head()

  Application_ID Application_Date  CRB Score CRB Grade
0     C302102137       2017-09-30        593         D
1     C302106175       2017-09-30        625         C
2     C302106175       2018-10-31        616         C
3     C302103572       2018-02-28        629         C
4     C302100598       2016-01-31        685         A

In [4]:
crb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6750 entries, 0 to 6749
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Application_ID    6750 non-null   object
 1   Application_Date  6750 non-null   object
 2   CRB Score         6750 non-null   int64
 3   CRB Grade         6750 non-null   object
dtypes: int64(1), object(3)
memory usage: 211.1+ KB

In [5]:
crb_df.describe()

         CRB Score
count  6750.000000
mean    617.440741
std     133.150431
min     250.000000
25%     598.000000
50%     631.000000
75%     660.000000
max     999.000000

In [6]:
crb_df.value_counts()

Application_ID  Application_Date  CRB Score  CRB Grade
C302109492      2018-05-31        515        E            1
C302100001      2015-08-31        999        X            1
                2018-12-31        670        B            1
C302100002      2015-07-31        647        B            1
C302100004      2015-10-31        250        E            1
                                                         ..
C302100038      2017-08-31        686        A            1
C302100039      2017-08-31        624        C            1
C302100040      2017-08-31        999        X            1
                2018-05-31        606        D            1
C302100041      2017-09-30        628        C            1
Name: count, Length: 6750, dtype: int64

In [7]:
crb_df.duplicated().sum()

0

In [8]:
crb_df.isnull().sum() / len(crb_df) * 100

Application_ID      0.0
Application_Date    0.0
CRB Score           0.0
CRB Grade           0.0
dtype: float64

In [9]:
# Drop Application date because it already exist on Application Data
crb_df.drop(columns=['Application_Date'], inplace=True)  # Optional

In [10]:
crb_df.to_csv("clean_crb_data.csv", index=False)